<section class="container advantages-style">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages">
      <ol class="advantages-list">
        <li class="advantages-list-item">
            <p class="advantages-list-title advantages-list-title-line">01</p>
            <span class="advantages-list-text advantages-list-text-design">
                Swimming and water sports: try your hand at water skiing
              </span>
        </li>

        <li class="advantages-list-item">
            <p class="advantages-list-title advantages-list-title-line">02</p>
            <span class="advantages-list-text">Fishing: try to catch your own dinner</span>
        </li>

        <li class="advantages-list-item">
            <p class="advantages-list-title advantages-list-title-line">03</p>
            <span class="advantages-list-text">
                Sightseeing tours: take a shore or island tour, enjoy the views and
                sunsets from the water
              </span>
        </li>

        <li class="advantages-list-item">
            <p class="advantages-list-title advantages-list-title-line">04</p>
            <span class="advantages-list-text">
                Rest and relaxation: read a book or listen to music while enjoying the
                outdoor atmosphere.
              </span>
        </li>

      </ol>
    </div>
     <div class="advantages-photo-style">
  <picture>
    <source srcset="./img/advantages/desktop-1440-advantages-img.jpg 1x,
    ./img/advantages/desktop-1440-advantages-img@2x.jpg 2x"
    media="(min-width: 1440px)">
    
<source srcset="./img/advantages/desktop-1280-advantages-img.jpg 1x,
./img/advantages/desktop-1280-advantages-img@2x.jpg 2x"
media="(min-width: 1158px)">

<source srcset="./img/advantages/tablet-advantages-img.jpg 1x,
./img/advantages/tablet-advantages-img@2x.jpg 2x"
media="(min-width: 768px)">

 <source srcset="./img/advantages/mobile-advantages-img.jpg 1x,
 ./img/advantages/mobile-advantages-img@2x.jpg 2x"
 media="(max-width: 767px)">

  <img class="advantages-photo" src="./img/advantages/mobile-advantages-img.jpg"
   alt="rest zone">
  </picture>
</div>
</section>