<footer>
  <div class="footer-conteiner">
    <nav class="nav-footer">
      <a class="footer-logo" href="../index.html">yachtjet</a>
      <ul class="nav-footer-list">
        <li class="nav-footer-list-item">
          <a class="nav-footer-list-link" href="">about</a>
        </li>
        <li class="nav-footer-list-item">
          <a class="nav-footer-list-link" href="">yachts</a>
        </li>
        <li class="nav-footer-list-item">
          <a class="nav-footer-list-link" href="">reviews</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social-container">
      <ul class="footer-social-list">
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            ><svg
              class="footer-social-list-icon"
              width="24"
              height="24"
              aria-label="Instagram icon"
            >
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            ><svg
              class="footer-social-list-icon"
              width="24"
              height="24"
              aria-label="Youtube icon"
            >
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            ><svg
              class="footer-social-list-icon"
              width="24"
              height="24"
              aria-label="Facebook icon"
            >
              <use href=""></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-text">
      <p class="footer-company-slogan-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <ul class="footer-text-copyrite-list">
        <li><p class="footer-copyrite-list-text">2023. Yacht Adventures</p></li>
        <li><p class="footer-copyrite-list-text">Privacy Police</p></li>
      </ul>
    </div>
  </div>
</footer>
