<!--MOBILE MENU-->
<div class="mobile-menu-wrapper">
  <div class="container">
    <a class="logo-mobile" href="">yachtjet</a>
    <button class="mobile-menu-close-btn" type="button">
      <svg
        class="mobile-menu-close-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu close icon"
      >
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li>
          <button class="mobile-menu-nav-btn" type="button">About</button>
        </li>
        <li>
          <button class="mobile-menu-nav-btn" type="button">Yachts</button>
        </li>
        <li>
          <button class="mobile-menu-nav-btn" type="button">Reviews</button>
        </li>
      </ul>
    </nav>
    <ul>
      <li class="mobile-menu-social-list">
        <a href="" class="mobile-menu-social-list-link">
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="instagram"
          >
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-list">
        <a href="" class="mobile-menu-social-list-link">
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="youtube"
          >
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-list">
        <a href="" class="mobile-menu-social-list-link">
          <svg
            class="mobile-menu-social-list-icon"
            width="24"
            height="24"
            aria-label="facebook"
          >
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
