<!--MOBILE MENU-->
<div class="mobile-menu-wrapper is-open">      
  <div class="mobile-modal-container">
    <div class="mobile-modal-header">
  <a class="mobile-modai-logo" href="#">yachtjet</a>
  <button class="mobile-menu-close-btn" type="button">
  <svg 
  class="mobile-menu-close-btn-icon" 
  width="16" 
  height="16" 
  aria-label="mobile menu close icon">
  <use href="../img/icons.svg#icon-close"></use>
  </svg>
  </button>
    </div>
    
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
  <li>
      <button class="mobile-menu-nav-btn" type="button">About</button>  
  </li>
  <li>
      <button class="mobile-menu-nav-btn" type="button">Yachts</button>  
  </li>
  <li>
      <button class="mobile-menu-nav-btn" type="button">Reviews</button>  
  </li>
      </ul>
  </nav>
  <ul class="mobile-menu-social-list">
  <li>
    <a href="#" class="mobile-menu-social-list-link">
      <svg class="mobile-menu-social-list-icon" width="24" height="24" aria-label="instagram">
        <use href="../img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
    <li>
    <a href="#" class="mobile-menu-social-list-link">
      <svg class="mobile-menu-social-list-icon" width="24" height="24" aria-label="youtube">
        <use href="../img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="mobile-menu-social-list-link">
      <svg class="mobile-menu-social-list-icon" width="24" height="24" aria-label="facebook">
        <use href="../img/icons.svg#icon-facebook"></use>
      </svg>   
    </a>
  </li>
  </ul>
  </div>
  </div>