<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-subtitle">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="reviews-commentators-list">
      <!-----------------------------------------------------------John Wax----------------------------------------------------------->
      <li class="reviews-author-item">
        <img
          srcset="
            ./img/reviews/john-wax-img.jpg    1x,
            ./img/reviews/john-wax-img@2x.jpg 2x
          "
          src="./img/reviews/john-wax-img.jpg"
          alt="photo John Wax"
          width="56"
          height="56"
        />
        <h3 class="reviews-author-name">John Wax</h3>
        <p class="reviews-author-comment">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>

      <!-----------------------------------------------------------Victoria Romashenko--------------------------------------------------->
      <li class="reviews-author-item">
        <img
          srcset="
            ./img/reviews/victoria-romashenko-img.jpg    1x,
            ./img/reviews/victoria-romashenko-img@2x.jpg 2x
          "
          src="./img/reviews/victoria-romashenko-img.jpg"
          alt="photo Victoria Romashenko"
          width="56"
          height="56"
        />
        <h3 class="reviews-author-name">Victoria Romashenko</h3>
        <p class="reviews-author-comment reviews-author-comment-second">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <!-----------------------------------------------------------Ihor Trachuk----------------------------------------------------------->
      <li class="reviews-author-item">
        <img
          srcset="
            ./img/reviews/ihor-trachuk-img.jpg    1x,
            ./img/reviews/ihor-trachuk-img@2x.jpg 2x
          "
          src="./img/reviews/ihor-trachuk-img.jpg"
          alt="photo Ihor Trachuk"
          width="56"
          height="56"
        />
        <h3 class="reviews-author-name">Ihor Trachuk</h3>
        <p class="reviews-author-comment reviews-author-comment-third">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
