.advantages-style {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .advantages {
    display: flex;
    flex-direction: column;
    background-color: #1b414b;
    padding: 80px 20px;
    border-radius: 24px;
    margin-bottom: 20px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .advantages-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
  }



  .advantages-list-item p::before {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    /* transform: translateY(-50%); */
    width: 100%;
    height: 2px;
    background-color: rgba(251, 251, 251, 0.1);
    border-radius: 18px;
    z-index: -1;
  }

/*  */
.advantages-list-item p, 
.advantages-list-item span {
  position: relative;
  z-index: 1;
}

 
  .advantages-list-item span {
    margin-top: 18px;
  }
  
  .advantages-list-title {
    color: #fbfbfb;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: -0.05em;
    margin-bottom: 18px;
  }

  .advantages-list-text {
    color: #fbfbfb;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.02em;
    opacity: 0.8;
    max-width: 292px;
  }

  .advantages-list-text-design {
    width: 238px;
  }


  .advantages-photo-style {
    display: flex;
    justify-content: center;
    max-width: 335px;
  }
  
  .advantages-photo {
    border-radius: 24px;
    height: 424px;
  }
  

  @media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 75px 32px;
    }

    .advantages-style {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .advantages {
      display: flex;
      max-width: 704px;
      height: 424px;
      padding: 90px 32px;
      margin-bottom: 32px;
    }
  
    .advantages-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
      row-gap: 44px;
    }

    .advantages-list-item {
        width: 304px;
    }

    .advantages-list-title {
        font-family: Inter;
        font-size: 32px;
    }

  
    .advantages-list-text {
      width: 292px;
      font-size: 13px;
      line-height: 1.15;
    }

    .advantages-list-text-design {
        width: 238px;
    }

    .advantages-photo-style  {
        max-width: 704px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .advantages {
        max-width: 716px;
        padding: 90px 50px;
        margin-bottom: 0;
        margin-right: 32px;
    }

    .advantages-list-item {
        width: 280px;
    }

    .advantages-photo {
        max-width: 432px;
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }

    .advantages {
        max-width: 768px;
    }

    .advantages-list-item {
        width: 318px;
    }

    .advantages-photo {
        max-width: 540px;
    }
  }