.hero-section {
  margin: 0 auto;
  padding-top: 198px;
  padding-bottom: 122px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
}
.hero-title {
  max-width: 335px;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.hero-prgph {
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.17; /* 116.667% */
  margin-bottom: 32px;
}
.hero-button {
  display: block;
  border-radius: 15px;
  background: #1b414b;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  padding: 14px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
@media screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero-title {
    font-size: 70px;
    margin-left: 0;
    margin-right: 0;
    max-width: 704px;
  }
  .hero-prgph {
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4; /* 22.4px */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .container-hero {
    max-width: 1080px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero-title {
    font-size: 70px;
    margin-left: 0;
    margin-right: 0;
    max-width: 704px;
  }
  .hero-prgph {
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4; /* 22.4px */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}
