.yachts-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.yachts-container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.yachts-title {
  color: #fbfbfb;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  max-width: 319px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.yachts-img-container {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;
}

.yachts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.yachts-list-item {
  max-width: 334px;
  padding-top: 16px;
  padding-bottom: 32px;
  background: #fbfbfb;
  border-radius: 24px;
  border: 1px solid #000;
}

.yachts-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  max-width: 270px;
}

.yachts-list-container::after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0px;
  max-width: 272px;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
}

.yachts-list-name {
  color: #1b414b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.yachts-list-type {
  color: rgba(4, 3, 6, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.yacht-list-tablet {
  display: none;
}

.yacht-list-desctop {
  display: none;
}

.yachts-list-box {
  display: flex;
  justify-content: space-between;
  max-width: 270px;
  margin-right: 32px;
  margin-left: 32px;
}

.yachts-list-description {
  color: rgba(4, 3, 6, 0.4);
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yachts-list-inform {
  color: #040306;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yachts-link {
  display: block;
  max-width: 144px;
  padding: 14px 32px;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  background-color: transparent;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;
}

.yachts-link:active {
  background-color: #fbfbfb;
  color: #1b414b;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .yachts-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .yachts-title {
    font-size: 48px;
    letter-spacing: -0.02em;
    max-width: 645px;
    margin-bottom: 75px;
  }

  .yachts-list {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
  }

  .yachts-list-item {
    max-width: 336px;
  }

  .yacht-list-tablet {
    display: inline-block;
    max-width: 336px;
    padding-top: 16px;
    padding-bottom: 32px;
    background: #fbfbfb;
    border-radius: 24px;
    border: 1px solid #000;
  }

  .yachts-list-container {
    max-width: 272px;
  }

  .yachts-list-name {
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 147px;
  }

  .yachts-list-name-box {
    position: relative;
    overflow: hidden;
  }

  .yachts-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1b414b;
    font-size: 16px;
    font-weight: 500;
    transform: translateX(-120%);
    line-height: 1.2;
    letter-spacing: -0.05em;
    background-color: #fbfbfb;
    transition: transform 250ms ease-in-out;
  }

  .yachts-list-name-box:hover .yachts-overlay {
    transform: translateX(0);
  }

  .yachts-list-type {
    font-size: 13px;
    line-height: 1.18;
  }

  .yachts-list-box {
    max-width: 272px;
  }

  .yachts-link {
    max-width: 179px;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
  .yachts-title {
    max-width: 714px;
  }

  .yachts-list-menu {
    width: calc((100% - 52px) / 3);
  }

  .yachts-list-item {
    max-width: 377px;
  }

  .yachts-list-container {
    max-width: 313px;
  }

  .yachts-list-container::after {
    max-width: 313px;
  }

  .yachts-list-name {
    max-width: 177px;
  }

  .yacht-list-tablet {
    max-width: 377px;
  }

  .yacht-list-desctop {
    display: inline-block;
    max-width: 377px;
    padding-top: 16px;
    padding-bottom: 32px;
    background: #fbfbfb;
    border-radius: 24px;
    border: 1px solid #000;
  }

  .yachts-list-box {
    max-width: 313px;
  }
  .yachts-link:hover,
  .yachts-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
  }
}

@media screen and (min-width: 1440px) {
  .yachts-list-item {
    width: 392px;
  }

  .yacht-list-tablet {
    width: 392px;
  }

  .yachts-list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .yacht-list-desctop {
    width: 392px;
  }

  .yachts-list-container {
    width: 328px;
  }

  .yachts-list-container::after {
    width: 328px;
  }

  .yachts-list-box {
    width: 328px;
  }

  .yachts-list-menu {
    width: calc((100% - 64px) / 3);
  }
}
