.rent-section {
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
/* ===========  MOBILE  ========== */
.review-form-description {
  margin-bottom: 40px;

  font-size: 28px;

  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.review-form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
}
.review-form-div {
  width: 100%;
}
.div-textarea {
  width: 100%;
}
.review-form-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  background-color: transparent;
  padding-left: 20px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  cursor: pointer;
  color: #fbfbfb;
}
.review-form-input:hover,
.review-form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.review-form-comment {
  width: 100%;
  height: 108px;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: #fbfbfb;
  cursor: pointer;
  resize: none;
}
.review-form-comment:hover,
.review-form-comment:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.button-modal {
  display: inline-flex;
  padding: 14px 44px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #1b414b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  border: none;
  color: #fbfbfb;
}

.button-modal:hover,
.button-modal:focus {
  background: #fbfbfb;
  color: #1b414b;
}

.img {
  border-radius: 24px;
}
.yachts-img {
  margin-top: 80px;
  background-color: transparent;
}

/* =========TABLE======== */

@media screen and (min-width: 768px) {
  .rent-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  .review-form-description {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
  }

  .review-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 100%;
  }

  .review-form-div {
    width: 100%;
  }

  .div-textarea {
    width: 100%;
  }

  /* .review-form-input {
    width: 100%;
    height: 42px;
    padding-left: 20px;
  } */

  .review-form-input:hover,
  .review-form-input:focus {
    border: 1px solid rgba(251, 251, 251, 0.5);
  }

  /* .review-form-comment {
    width: 100%;
    height: 108px;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    color: #fbfbfb;
    cursor: pointer;
    resize: none;
  } */

  .review-form-comment:hover,
  .review-form-comment:focus {
    border: 1px solid rgba(251, 251, 251, 0.5);
  }

  .button-modal {
    display: inline-flex;
    padding: 18px 75px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #1b414b;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    border: none;
    color: #fbfbfb;
  }

  .button-modal:hover,
  .button-modal:focus {
    background: #fbfbfb;
    color: #1b414b;
  }

  .yachts-img {
    flex-shrink: 0;
    margin-top: 0;
    background-color: transparent;
  }
}

/* ===========  DESKTOP  ========== */

@media screen and (min-width: 1280px) {
}

/* ===========   ========== */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
